# ignore all .a files
*bak
*.7z
*.frb

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

# ignore all files in any directory named build
KiCAD/Altoids-backup/
build/


# ignore doc/notes.txt, but not doc/server/arch.txt
KiCAD/*.zip
#Gerbers/*.zip


# ignore all .pdf files in the doc/ directory and any of its subdirectories
KiCAD/**/*.zip
Software/**/*.zip
